@model PruebaTecnicaBitsion.Models.VMCliente

@{
    ViewBag.Title = "Editar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="display-2">Edición de Cliente</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.ClienteModel.idCliente)
                <div class="my-3">
                    <label class="form-label">Nombre Completo</label>
                    @Html.TextBoxFor(x => x.ClienteModel.nombre, htmlAttributes: new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(x => x.ClienteModel.nombre, "", htmlAttributes: new { @class = "text-danger" })
                </div>
                <div class="my-3">
                    <label class="form-label">DNI</label>
                    @Html.TextBoxFor(x => x.ClienteModel.dni, htmlAttributes: new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(x => x.ClienteModel.dni, "", htmlAttributes: new { @class = "text-danger" })
                </div>
                <div class="my-3">
                    <label class="form-label">Fecha de Nacimiento</label>
                    @Html.TextBoxFor(x => x.ClienteModel.nacimiento, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", @type = "date", @max = DateTime.Today.AddYears(-18).ToString("yyyy-MM-dd"), @min = DateTime.Today.AddYears(-88).ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(x => x.ClienteModel.nacimiento, "", htmlAttributes: new { @class = "text-danger" })
                </div>
                <div class="my-3">
                    <label class="form-label">Género</label>
                    @Html.DropDownListFor(x => x.ClienteModel.idGenero, new SelectList(Model.Generos, "idGenero", "Descripcion"), "Seleccione...", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ClienteModel.idGenero, "", htmlAttributes: new { @class = "text-danger" })
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Activo</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.estado)
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Maneja?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.maneja)
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Usa Lentes?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.lentes)
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Es diabético?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.diabetico)
                </div>
                <div class="my-3">
                    <label class="form-label">Otras enfermedades:</label>
                    @Html.TextAreaFor(x => x.ClienteModel.enfermedades, htmlAttributes: new { @class = "form-control" })
                    <div id="ayudaEnfermedades" class="form-text">Si tiene otras enfermedades, descríbalas aquí.</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary my-3">Aceptar</button>
                    <a href="/Cliente" class="btn btn-warning" role="button">Cancelar</a>
                </div>                
            }
        </div>
    </div>
</div>