@model PruebaTecnicaBitsion.Models.VMCliente

@{
    ViewBag.Title = "Eliminar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="display-2">Eliminar Cliente?</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.ClienteModel.idCliente)
                <div class="my-3">
                    <label class="form-label">Nombre Completo</label>
                    @Html.TextBoxFor(x => x.ClienteModel.nombre, htmlAttributes: new { @class = "form-control", @type = "text", @readonly = "readonly" })
                </div>
                <div class="my-3">
                    <label class="form-label">DNI</label>
                    @Html.TextBoxFor(x => x.ClienteModel.dni, htmlAttributes: new { @class = "form-control", @type = "number", @readonly = "readonly" })
                </div>
                <div class="my-3">
                    <label class="form-label">Fecha de Nacimiento</label>
                    @Html.TextBoxFor(x => x.ClienteModel.nacimiento, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", @type = "date", @readonly = "readonly" })
                </div>
                <div class="my-3">
                    <label class="form-label">Género</label>
                    @Html.DropDownListFor(x => x.ClienteModel.idGenero, new SelectList(Model.Generos, "idGenero", "Descripcion"), "Seleccione...", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Activo</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.estado, htmlAttributes: new { @disabled = "disabled" })
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Maneja?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.maneja, htmlAttributes: new { @disabled = "disabled" })
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Usa Lentes?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.lentes, htmlAttributes: new { @disabled = "disabled" })
                </div>
                <div class="my-3 form-check">
                    <label class="form-label">Es diabético?</label>
                    @Html.CheckBoxFor(x => x.ClienteModel.diabetico, htmlAttributes: new { @disabled = "disabled" })
                </div>
                <div class="my-3">
                    <label class="form-label">Otras enfermedades:</label>
                    @Html.TextAreaFor(x => x.ClienteModel.enfermedades, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    <div id="ayudaEnfermedades" class="form-text">Si tiene otras enfermedades, descríbalas aquí.</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger my-3">Eliminar</button>
                    <a href="/Cliente" class="btn btn-success" role="button">Cancelar</a>
                </div>                
            }
        </div>
    </div>
</div>